.App {
  text-align: center;
  font-family: 'Goldman', cursive;
}

.header1-main {
    background-color: #38302E;
    height: 100px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.header1-main h1 {
    padding: 1em;
    margin-right: 5em;
}

.header1-main nav {
    padding: 1em;
    margin-right: 5em;
    float: right;
    display: flex;
    justify-content: space-evenly;
    width: 20em;
}

.footer-main {
    background-color: #38302E;
    position: absolute;
    color: white;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    padding: 1em;
}

.footer-main .footer-links {
    padding: 1em;
}

.footer-main .footer-links a {
    padding: 1em;
}